ingress-class version="networking.k8s.io/v1" name="external-lb" {
  spec controller="example.com/ingress-controller" {
    parameters api-group="k8s.example.com" kind="ingress-parameters" name="external-lb"
  }
}
