pod "host-aliases-pod" version="v1" {
  spec restart-policy="never" {
    host-aliase ip="127.0.0.1" {
      host-names "foo.local" "bar.local"
    }
    host-aliase ip="10.1.2.3" {
      host-names "foo.remote" "bar.remote"
    }
    container "cat-hosts" image="busybox" {
      command "cat"
      args "/etc/hosts"
    }
  }
}
