ingress version="networking.k8s.io/v1" name="ingress-resource-backend" {
  annotation key="nginx.ingress.kubernetes.io/rewrite-target" value="/$1"
  spec {
    default-backend {
      resource api-group="k8s.example.com" kind="storage-bucket" name="static-assets"
    }
    rule {
      http {
        path "/icons" type="implementation-specific" {
          resource api-group="k8s.example.com" kind="storage-bucket" name="icon-assets"
        }
      }
    }
  }
}
