ingress "ingress-resource-backend" version="networking.k8s.io/v1" {
  annotation key="nginx.ingress.kubernetes.io/rewrite-target" value="/$1"
  spec {
    default-backend {
      resource "static-assets" api-group="k8s.example.com" kind=storage-bucket
    }
    rule {
      http {
        path "/icons" type="implementation-specific" {
          resource "icon-assets" api-group="k8s.example.com" kind=storage-bucket
        }
      }
    }
  }
}
