ingress "minimal-ingress" version="networking.k8s.io/v1" {
  annotation key="nginx.ingress.kubernetes.io/rewrite-target" value="/"
  spec ingress-class-name="nginx-example" {
    rule host="foo.bar.com" {
      http {
        path /test-bar type=prefix {
          service "test" port=80
        }
      }
    }
  }
}
