ingress-class "external-lb" version="networking.k8s.io/v1" {
  spec controller="example.com/ingress-controller" {
    parameters "external-lb" api-group="k8s.example.com" kind=ingress-parameters namespace="external-configuration" scope="namespace"
  }
}
