network-policy version="networking.k8s.io/v1" name="test-network-policy" namespace="default" {
  spec {
    pod-selector {
      match-label key="role" value="db"
    }
    policy-types "ingress" "egress"
    ingress {
      from {
        ip-block cidr="172.17.0.0/16" {
          except "172.17.1.0/24"
        }
        namespace-selector {
          match-label key="project" value="my-project"
        }
        pod-selector {
          match-label key="role" value="frontend"
        }
      }
      port protocol="tcp" port=6379
    }
    egress {
      to {
        ip-block cidr="10.0.0.0/24"
      }
      port protocol="tcp" port=5978
    }
  }
}
