config-map "mysql" version="v1" {
  labels app="mysql" "app.kubernetes.io/name"="mysql"
  data "primary.cnf" {
    """
    # Apply this config only on the primary.
    [mysqld]
    log-bin
    """
  }
  data "replica.cnf" {
    """
    # Apply this config only on replicas.
    [mysqld]
    super-read-only
    """
  }
}
