daemon-set "fluentd-elasticsearch" namespace="kube-system" version="apps/v1" {
  label key="k8s-app" value="fluentd-logging"
  spec {
    selector {
      match-labels key="k8s-app" value="fluentd-logging"
    }
    template {
      label key="k8s-app" value="fluentd-logging"
      spec termination-grace-period-seconds=30 {

      }
    }
  }
}

[[spec.template.spec.tolerations]]
key = "node-role.kubernetes.io/control-plane"
operator = "Exists"
effect = "NoSchedule"

[[spec.template.spec.tolerations]]
key = "node-role.kubernetes.io/master"
operator = "Exists"
effect = "NoSchedule"

[[spec.template.spec.containers]]
name = "fluentd-elasticsearch"
image = "quay.io/fluentd_elasticsearch/fluentd"

[spec.template.spec.containers.resources.limits]
memory = "200Mi"

[spec.template.spec.containers.resources.requests]
cpu = "100m"
memory = "200Mi"

[[spec.template.spec.containers.volume-mounts]]
name = "varlog"
mount-path = "/var/log"

[[spec.template.spec.volumes]]
name = "varlog"

[spec.template.spec.volumes.host-path]
path = "/var/log"
