version="kubescheduler.config.k8s.io/v1beta2"
kube-cheduler {
  leader-election leader-elect=false

[clientConnection]
kubeconfig="/etc/kubernetes/scheduler.conf"

[[profiles]]
schedulerName="topo-aware-scheduler"

[[profiles.plugins.filter.enabled]]
name="NodeResourceTopologyMatch"

[[profiles.plugins.score.enabled]]
name="NodeResourceTopologyMatch"

[[profiles.pluginConfig]]
name="NodeResourceTopologyMatch"

[profiles.pluginConfig.args.scoringStrategy]
type="LeastAllocated"
