// Headless service for stable DNS entries of StatefulSet members.

service "mysql" version="v1" {
  labels app="mysql" "app.kubernetes.io/name"="mysql"
  cluster-ip null
  port "mysql" port=3306
  selector app="mysql"
}
