api-version = "gateway.networking.k8s.io/v1beta1"
http-route "http-app-1" {
  parent-ref "my-gateway" namespace = "default"
  rule {
    match {
      path type = "PathPrefix" value = "/details"
    }
    backend-ref name = "details" port = 9080
  }
[[spec.rules]]
[[spec.rules.matches]]
method = "GET"

[[spec.rules.matches.headers]]
type = "Exact"
name = "magic"
value = "foo"

[[spec.rules.matches.query-params]]
type = "Exact"
name = "great"
value = "example"

[spec.rules.matches.path]
type = "PathPrefix"
value = "/"

[[spec.rules.backend-refs]]
name = "productpage"
port = 9080
