admission-configuration version="apiserver.config.k8s.io/v1" {
  plugin "pod-security" {
    configuration {
      pod-security-configuration version="pod-security.admission.config.k8s.io/v1" {
        defaults enforce="baseline" enforce-version="latest" audit="restricted" audit-version="latest" warn="restricted" warn-version="latest"
        exemptions {
          usernames
          runtime-classes
          namespaces "kube-system"
        }
      }
    }
  }
}

cluster version="kind.x-k8s.io/v1alpha4" {
  node role="control-plane" {
    kubeadm-config-patch {
      cluster-configuration {
        api-server {
          extra-args
            admission-control-config-file=/etc/config/cluster-level-pss.yaml
            host-path=/etc/config
            mount-path=/etc/config
            read-only=false
            path-type=directory-or-create
          {
            extra-volume "accf"
          }
        }
      }
    }
    extra-mount host-path=/tmp/pss container-path=/etc/config read-only=false selinux-relabel=false propagation=none
  }
}

pod "nginx" version="v1" {
  container "nginx" image="nginx" {
    port container-port=80
  }
}
