api-version = "apps/v1"
kind = "StatefulSet"

[metadata]
name = "web"

[spec]
service-name = "nginx"
replicas = 2

[spec.selector.match-labels]
app = "nginx"

[spec.template.metadata.labels]
app = "nginx"

[[spec.template.spec.containers]]
name = "nginx"
image = "registry.k8s.io/nginx-slim"

[[spec.template.spec.containers.ports]]
container-port = 80
name = "web"

[[spec.template.spec.containers.volume-mounts]]
name = "www"
mount-path = "/usr/share/nginx/html"

[[spec.volume-claim-templates]]
[spec.volume-claim-templates.metadata]
name = "www"

[spec.volume-claim-templates.spec]
access-modes = [ "ReadWriteOnce" ]

[spec.volume-claim-templates.spec.resources.requests]
storage = "1Gi"
