version="apps/v1"
kind="Deployment"

[metadata]
name="my-nginx"

[metadata.labels]
app="nginx"

spec {}
replicas=3

[spec.selector.match-labels]
app="nginx"

[spec.template.metadata.labels]
app="nginx"

[[spec.template.spec.containers]]
name="nginx"
image="nginx"

[[spec.template.spec.containers.ports]]
container-port=80
