namespace "kube-system" {
  version="rbac.authorization.k8s.io/v1"
  role-binding "topo-aware-scheduler-as-kube-scheduler" {
    (subject)service-account "topo-aware-scheduler"
    namespace="kube-system"

    role-ref {
      role "extension-apiserver-authentication-reader"
      apiGroup="rbac.authorization.k8s.io"
    }
  }
}
