job version=batch/v1 generate-name=sample-job-
  annotations=kueue.x-k8s.io/queue-name=user-queue {
  parallelism=3
  completions=3
  suspend=true
  template {
    container name=dummy-job
              image=gcr.io/k8s-staging-perf-tests/sleep:v0.0.3
        args "30s"
        resources {
          requests {
            cpu 1
            memory "200Mi"
          }
        }
      restart-policy: never
  }
}
