deployment "patch-demo" version="apps/v1" {
  spec replicas=2 {
    selector {
      match-label key="app" value="nginx"
    }
    template {
      label key="app" value="nginx"
      spec {
        toleration effect="no-schedule" key="dedicated" value="test-team"
      }
    }
  }
}
