deployment "nginx-deployment" version="apps/v1" {
  spec min-ready-seconds=5 {
    selector {
      match-label key="app" value="nginx"
    }
    template {
      label key="app" value="nginx"
      spec {
        container "nginx" image="nginx" {
          port container-port=80
        }
      }
    }
  }
}
