deployment version="apps/v1" name="nginx-deployment" {
  spec min-ready-seconds=5 {
    selector {
      match-labels app="nginx"
    }
    template {
      labels app="nginx"
      spec {
        container name="nginx" image="nginx" {
          port container-port=80
        }
      }
    }
  }
}
