api-version = "v1"
kind = "PersistentVolume"

[metadata]
name = "mysql-pv-volume"

[metadata.labels]
type = "local"

[spec]
storage-class-name = "manual"
access-modes = [ "ReadWriteOnce" ]

[spec.capacity]
storage = "20Gi"

[spec.host-path]
path = "/mnt/data"
