egress-selector "cluster" version="apiserver.k8s.io/v1beta1" {
  egress-selections {
    connection proxy-protocol="grpc" {
      transport {
        uds "/etc/kubernetes/konnectivity-server/konnectivity-server.socket"
      }
    }
  }
}
