flow-schema "health-for-strangers" version="flowcontrol.apiserver.k8s.io/v1beta2" {
  spec matching-precedence=1000 {
    priority-level-configuration "exempt"
    rule {
      non-resource-rules {
        non-resource-urls /healthz /livez /readyz
        verbs "*"
      }
      subjects {
        group "system:unauthenticated"
      }
    }
  }
}
